<a href="https://colab.research.google.com/github/semihkoc1/python-app/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
def city(capital, continent='Europe'):
  if capital == 'Athens':
    print('capital is  in Europe')
  print(capital, 'in', continent)

city('Athens')


def frutguy(fruit1,fruit2):
  print('I want to get', fruit1, 'and', fruit2)


frutguy('orange', 'grape')



def grocery(*fruit):
  print('i want to get:')
  for i in fruit:
    print('*', i)

grocery('apple','banana','kiwi','pineapple','watermelon')


def animals(**kwargs):
  for key, value in kwargs.items():
    print(value, "are", key)
animals(Kings = 'Lions', Unbeatable = 'Bears', Harbihayvan = 'Deers', Scariest = 'wolves')

def brothers(bro1,bro2,bro3):
  print('Here is the names of my brothers :')
  print(bro1,bro2,bro3)

family =['tim','tom','rum']
brothers(*family)
family2 =('Dan','Man','Han')
print(type(family2))


first_namee=input('enter forst name')
first_n_initial =first_namee[0:1]
lnamee=input('enter forst name')
first_n_initial =lnamee[0:1]
print(lnamee,first_namee)

def square(x):
  return (x**2)


(lambda x: x**2)(5)

avarage=lambda x,y:(x+y)/2
print(avarage(12,3))

for i in range(12):
  if i > 0:
    i == 0
    print(i)
  else:
    print(i,'is not > 0')

x =['usa','germany']
y = ['france','japan','korea']

for i in x:
  for j in y:
    print(type([tuple(i+j)]))

capital is  in Europe
Athens in Europe
I want to get orange and grape
i want to get:
* apple
* banana
* kiwi
* pineapple
* watermelon
Lions are Kings
Bears are Unbeatable
Deers are Harbihayvan
wolves are Scariest
Here is the names of my brothers :
tim tom rum
<class 'tuple'>
enter forst namesemih
enter forst namekoc
koc semih
7.5
0 is not > 0
1
2
3
4
5
6
7
8
9
10
11
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>