<a href="https://colab.research.google.com/github/semihkoc1/python-app/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
def city(capital, continent='Europe'):
  if capital == 'Athens':
    print('capital is  in Europe')
  print(capital, 'in', continent)

city('Athens')


def frutguy(fruit1,fruit2):
  print('I want to get', fruit1, 'and', fruit2)


frutguy('orange', 'grape')



def grocery(*fruit):
  print('i want to get:')
  for i in fruit:
    print('*', i)

grocery('apple','banana','kiwi','pineapple','watermelon')


def animals(**kwargs):
  for key, value in kwargs.items():
    print(value, "are", key)
animals(Kings = 'Lions', Unbeatable = 'Bears', Harbihayvan = 'Deers', Scariest = 'wolves')

def brothers(bro1,bro2,bro3):
  print('Here is the names of my brothers :')
  print(bro1,bro2,bro3)

family =['tim','tom','rum']
brothers(*family)
family2 =('Dan','Man','Han')
print(type(family2))


first_namee=input('enter forst name')
first_n_initial =first_namee[0:1]
lnamee=input('enter forst name')
first_n_initial =lnamee[0:1]
print(lnamee,first_namee)

def square(x):
  return (x**2)


(lambda x: x**2)(5)

avarage=lambda x,y:(x+y)/2
print(avarage(12,3))

for i in range(12):
  if i > 0:
    i == 0
    print(i)
  else:
    print(i,'is not > 0')

x =['usa','germany']
y = ['france','japan','korea']

for i in x:
  for j in y:
    print(type([tuple(i+j)]))

capital is  in Europe
Athens in Europe
I want to get orange and grape
i want to get:
* apple
* banana
* kiwi
* pineapple
* watermelon
Lions are Kings
Bears are Unbeatable
Deers are Harbihayvan
wolves are Scariest
Here is the names of my brothers :
tim tom rum
<class 'tuple'>
enter forst namesemih
enter forst namekoc
koc semih
7.5
0 is not > 0
1
2
3
4
5
6
7
8
9
10
11
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [8]:
x = 6
while x <= 10: print(x,end=" "); x = x+1

6 7 8 9 10

In [2]:
num1 = int(input('Enter first number '))
num2 = int(input('Enter second number '))

if num1 >= num2:
    if num1 == num2:
        print(num1, 'and', num2, 'are equal')
    else:
        print(num1, 'is greater than', num2)
else:
    print(num1, 'is smaller than', num2)

Enter first number 6
Enter second number 5
6 is greater than 5

In [19]:
n= 2
for i in range(1,11,1):
  product = n*i
  print(product)

  #carpim tablosu olusturma

2
4
6
8
10
12
14
16
18
20

In [25]:
list3 =[20,50,30,70,88]
list3.reverse()
print(list3)

#print reverse geri geriye ornek
#for loop kullanirsan 'reversed' olarak belirtmen gerekiyor

lis4 =[40,60,77,90]
new_list = reversed(lis4)

for item in new_list:
  print(item, end='')

[88, 70, 30, 50, 20]
90776040

In [26]:
for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [1]:
#Calculate the cube of all numbers from 1 to a given number
input_number = 6
for i in range(1, input_number + 1):
    print("Current Number is :", i, " and the cube is", (i * i * i))

Current Number is : 1  and the cube is 1
Current Number is : 2  and the cube is 8
Current Number is : 3  and the cube is 27
Current Number is : 4  and the cube is 64
Current Number is : 5  and the cube is 125
Current Number is : 6  and the cube is 216

In [2]:
aList = [4, 8, 12, 16]
aList[1:4] = [20, 24, 28]
print(aList)

[4, 20, 24, 28]

In [3]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [4]:
def calculate (num1, num2=4):
  res = num1 * num2
  print(res)

calculate(5, 6)

30

In [5]:
salary = 8000

def printSalary():
  salary = 12000
  print("Salary:", salary)
  
printSalary()
print("Salary:", salary)

Salary: 12000
Salary: 8000

In [6]:
var= "James Bond"
print(var[2::-1])

maJ

In [7]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [10]:
n = int(input("Enter number "))
# pass range of numbers to sum() function
x = sum(range(1, n + 1))
print('Sum is:', x)

#1,2,3,4,5,6,7,8,9,10,11,12-- add all these up this is the code for it

Enter number 12
Sum is: 78